.nav-container {
  background-color: black;
  display: flex;
  padding-right: 10px;
  justify-content: flex-end;
  align-items: center;
}
.nav-items {
  padding: 7px 20px;
}
.nav-link {
  text-decoration: none;
  color: white;
}
.home {
  font-size: xx-large;
  margin-right: auto;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  margin: 5px 15% 5px 1px;
}
.search div {
  height: 100%;
  flex-grow: 10;
}
.search div input {
  margin: 0px;
  height: 100%;
  width: 100%;
  outline: none;
  padding: 5px;
  border: none;
  font-size: large;
}
.search button {
  width: auto;
  margin: 0px;
  padding: 0px;
  height: 100%;
  flex-grow: 0;
  font-size: large;
  border: none;
  color: black;
  background-color: white;
}
.nav-hover:hover {
  background-color: brown;
}
.search button:hover {
}
